*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(210, 181, 236);
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-size: 17px;
  text-align: center;
  color: #000;
}
textarea{
  width: 70%;
  height: 15rem;
  color: brown;
border-radius: 10px;
background-color: darkseagreen;
font-weight: 600;
}

