* {
  margin: 0;
  padding: 0;
}

body {  
  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;  
background-image: url(./assets/dreams.png);
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-tweet {
  width: 34rem;
  height: 33rem;
  border-radius: 65px;
  background-color:rgb(223, 202, 207);  
  border: groove 5px #501818;
  box-shadow: 0 0 15px #8d2571;
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
  /* line-height: 2rem; */
  color: #000;
  font-family:'Times New Roman', Times, serif;
  padding:15px;
}

.minor {
  color: #ffff00;
  font-size: 5rem;
}

.max {
  color: #008000;
  font-size: 5rem;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 10rem;
  margin: 1rem;
}

button:hover {
  border-color: #8d2571;
}

button:focus,
button:focus-visible {
  outline: 4px auto;
}
.counter {
  color: #1dd91d;
  font-size: 1rem;
}

.counter-min {
  color: #de0808;
  font-weight: 900;
  padding: 1rem;
  align-self: flex-end;  
}

span {
  width: 90%;
  height: 10px;  
  padding: 1.9rem;
  font-size: 1rem;
  text-align: center;  
  flex-wrap: wrap;
  color:#8d2571;
  font-size: 1rem;
  font-weight: 800;  
  word-break: break-all;
}
